GITHUB_BRANCH=main
GITHUB_OWNER=my-org
GITHUB_REPO=my-repo
GITHUB_PERSONAL_ACCESS_TOKEN=github_pat_abc123
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=topsecret
MONGODB_URI="mongodb+srv://myDatabaseUser:D1fficultP%40ssw0rd@mongodb0.example.com/?retryWrites=true&w=majority&appName=myapp"