---
import Prose from "@/components/Prose.astro"
import Layout from "@/layouts/Layout.astro"
import { type CollectionEntry, getCollection } from "astro:content"
import { render } from "astro:content"

export async function getStaticPaths() {
  const articles = await getCollection("articles")
  return articles.map((article) => ({
    params: { slug: article.data.slug },
    props: article,
  }))
}

type Props = CollectionEntry<"articles">

const article = Astro.props
const pubDate = new Date(article.data.pubDate).toLocaleString("default", {
  month: "long",
  day: "numeric",
  year: "numeric",
})
const { Content, remarkPluginFrontmatter } = await render(article)
---

<Layout>
  <main class="mx-auto w-full max-w-screen-md">
    <article class="space-y-4 p-3 md:px-0">
      <header class="flex flex-col space-y-3">
        <small class="underline decoration-red-500 underline-offset-4">
          {pubDate} &bull; <span class="uppercase text-muted-foreground">
            {remarkPluginFrontmatter.minutesRead}</span
          >
        </small>

        <h1 class="font-serif text-6xl">{article.data.title}</h1>

        <p class="text-muted-foreground">
          by <span class="uppercase">{article.data.author}</span>
        </p>
      </header>

      <Prose>
        <Content />
      </Prose>
    </article>
  </main>
</Layout>
