---
import Layout from "$lib/layouts/Layout.astro"
---

<Layout>
  <main class="mx-auto min-h-screen w-full max-w-screen-md">
    <div class="p-3 md:px-0">
      <h1>Hello, World!</h1>
    </div>
  </main>
</Layout>
