---
import RSSIcon from "@/assets/rss.svg"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<footer class="mx-auto w-full max-w-screen-md border-t">
  <div class="flex items-center px-3 py-5">
    <div class="grow">
      <p class="font-mono text-muted-foreground">
        {t("footer.copyright")}
      </p>
    </div>

    <div>
      <a
        href="/rss.xml"
        aria-label={t("footer.rss")}
        class="inline-flex items-center justify-center rounded-md border border-input bg-background p-2 text-sm font-medium ring-offset-background transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      >
        <RSSIcon class="size-4" />
      </a>
    </div>
  </div>
</footer>
