---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import Layout from "@/layouts/Layout.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout>
  <main
    class="mx-auto flex min-h-screen w-full max-w-screen-md items-center justify-center"
  >
    <p
      class="w-full text-center font-mono text-sm text-muted-foreground md:text-xl"
    >
      {t("404.page-not-found")}
    </p>
  </main>
</Layout>
