---
import "$lib/styles/app.css"
import "@fontsource/geist-sans"
import "@fontsource-variable/geist-mono"
import "@fontsource-variable/playfair-display"

import Header from "$lib/components/Header.astro"
import Footer from "$lib/components/Footer.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
